In [2]:
# Import modules
import pandas as pd
from pathlib import Path
import numpy as np
import matplotlib.pyplot as plt

In [3]:
## Read in the Data for First CSV

# Create file path
file_1 = Path('../Resources/gbd_cause_of_death_80_94.csv')

# Read in Data
df_1 = pd.read_csv(file_1, encoding="UTF-8", low_memory=False)

# Drop uneccessary columns
df_1 = df_1.drop(columns=['metric', 'measure', 'age', 'sex'])
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5400 entries, 0 to 5399
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   location  5400 non-null   object
 1   cause     5400 non-null   object
 2   year      5400 non-null   int64
 3   val       5400 non-null   float64
 4   upper     5400 non-null   float64
 5   lower     5400 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 253.2+ KB

In [4]:
# Transpose the First DataFrame with 'cause' as column values
transposed_df_1 = df_1.pivot_table(index=['location', 'year'],
                               columns='cause',
                               values='val').reset_index()

# Print the transposed DataFrame
transposed_df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 540 entries, 0 to 539
Data columns (total 12 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   location                             540 non-null    object
 1   year                                 540 non-null    int64
 2   Alcohol use disorders                540 non-null    float64
 3   Cardiovascular diseases              540 non-null    float64
 4   Diabetes mellitus                    540 non-null    float64
 5   Liver cancer due to alcohol use      540 non-null    float64
 6   Motor vehicle road injuries          540 non-null    float64
 7   Opioid use disorders                 540 non-null    float64
 8   Police conflict and executions       540 non-null    float64
 9   Road injuries                        540 non-null    float64
 10  Self-harm                            540 non-null    float64
 11  Tracheal, bronchus, and lung cancer  540 non-null    float64
dtypes: float64(10), int64(1), object(1)
memory usage: 50.8+ KB

In [5]:
## Read in the Data for Second CSV

# Create file path
file_2 = Path('../Resources/gbd_cause_of_death_95_21.csv')

# Read in Data
df_2 = pd.read_csv(file_2, encoding="UTF-8", low_memory=False)

# Drop uneccessary columns
df_2 = df_2.drop(columns=['metric', 'measure', 'age', 'sex'])
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9720 entries, 0 to 9719
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   location  9720 non-null   object
 1   cause     9720 non-null   object
 2   year      9720 non-null   int64
 3   val       9720 non-null   float64
 4   upper     9720 non-null   float64
 5   lower     9720 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 455.8+ KB

In [6]:
# Transpose the Second DataFrame with 'cause' as column values
transposed_df_2 = df_2.pivot_table(index=['location', 'year'],
                               columns='cause',
                               values='val').reset_index()

# Print the transposed DataFrame
transposed_df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 972 entries, 0 to 971
Data columns (total 12 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   location                             972 non-null    object
 1   year                                 972 non-null    int64
 2   Alcohol use disorders                972 non-null    float64
 3   Cardiovascular diseases              972 non-null    float64
 4   Diabetes mellitus                    972 non-null    float64
 5   Liver cancer due to alcohol use      972 non-null    float64
 6   Motor vehicle road injuries          972 non-null    float64
 7   Opioid use disorders                 972 non-null    float64
 8   Police conflict and executions       972 non-null    float64
 9   Road injuries                        972 non-null    float64
 10  Self-harm                            972 non-null    float64
 11  Tracheal, bronchus, and lung cancer  972 non-null    float64
dtypes: float64(10), int64(1), object(1)
memory usage: 91.2+ KB

In [7]:
joined_df = pd.concat([transposed_df_1, transposed_df_2])

# If the index needs to be reset after concatenation
# joined_df = joined_df.reset_index(drop=True)

# Display the joined DataFrame
joined_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1512 entries, 0 to 971
Data columns (total 12 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   location                             1512 non-null   object
 1   year                                 1512 non-null   int64
 2   Alcohol use disorders                1512 non-null   float64
 3   Cardiovascular diseases              1512 non-null   float64
 4   Diabetes mellitus                    1512 non-null   float64
 5   Liver cancer due to alcohol use      1512 non-null   float64
 6   Motor vehicle road injuries          1512 non-null   float64
 7   Opioid use disorders                 1512 non-null   float64
 8   Police conflict and executions       1512 non-null   float64
 9   Road injuries                        1512 non-null   float64
 10  Self-harm                            1512 non-null   float64
 11  Tracheal, bronchus, and lung cancer  1512 non-null   float64
dtypes: float64(10), int64(1), object(1)
memory usage: 153.6+ KB

In [8]:
gbp_df = joined_df.sort_values(by=['location', 'year'])

In [9]:
gbp_df.to_csv('../output/csv/cleaned_gbp_dataset.csv', index=False)