In [79]:
%matplotlib inline

import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import plotly.express as px
from scipy.stats import linregress
import plotly.graph_objects as go

In [80]:
# Display the data

# Life Expectancy Data
life_expectancy = Path("output/csv/life_expectancy.csv")
life_expectancy_df = pd.read_csv(life_expectancy)

# GDP Data
gdp_file = Path("output/csv/final_gdp.csv")
gdp_file_df = pd.read_csv(gdp_file)

# OECD Health Expenditure Data
health_expend = Path("output/csv/OECD_Health_Expenditure.csv")
health_expend_df = pd.read_csv(health_expend)

# World Bank Development Indicators Data
world_bank = Path("output/csv/cleaned_world_bank_dataset.csv")
world_bank_df = pd.read_csv(world_bank)

# GBP Data
gbp_data = Path("output/csv/cleaned_gbp_dataset.csv")
gbp_data_df = pd.read_csv(gbp_data)


# display(life_expectancy_df)
# display(gdp_file_df)
# display(health_expend_df)
# display(world_bank_df)
# display(gbp_data_df)

#### Keep only countries in life expectancy data and check country names for merge

In [81]:
# Keep only the Countries Type in Life Expectancy Data
#life_expectancy_df['Type'].unique().tolist()
life_expectancy_countries_df = life_expectancy_df[life_expectancy_df['Type'] == 'Country/Area']

# Sort by country and year
life_expectancy_countries_df = life_expectancy_countries_df.sort_values(by=['Country', 'Year'])
#life_expectancy_countries_df['Country'].unique().tolist()
#display(life_expectancy_countries_df)

OECD Countries List

In [97]:
# Check Country Names:

# OECD Countries List
oecd_countries = [
    'Australia', 'Austria', 'Belgium', 'Canada', 'Chile', 'Czech Republic', 'Denmark',
    'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland',
    'Israel', 'Italy', 'Japan', 'Republic of Korea', 'Latvia', 'Lithuania', 'Luxembourg', 'Mexico',
    'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Portugal', 'Slovakia',
    'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Turkey', 'United Kingdom', 'United States']

Life Expectancy Data

In [100]:
# Check Life Expectancy Country Names:
print(life_expectancy_countries_df[life_expectancy_countries_df['Country'].isin(oecd_countries)]['Country'].unique().tolist())

# Missing: Czech Republic, Republic of Korea, Turkey, United States
# In life expectancy dataset: Czechia, Dem. People's Republic of Korea, Türkiye, United States of America

['Australia', 'Austria', 'Belgium', 'Canada', 'Chile', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Israel', 'Italy', 'Japan', 'Latvia', 'Lithuania', 'Luxembourg', 'Mexico', 'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Portugal', 'Republic of Korea', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'United Kingdom']

GDP Data

In [101]:
# Sort by country and year
gdp_file_df = gdp_file_df.sort_values(by=['Country', 'Year'])

# Check GDP Country Names:
print(f"OECD Countries: {gdp_file_df[gdp_file_df['Country'].isin(oecd_countries)]['Country'].unique().tolist()}\n")
#print(f"All Countries: {gdp_file_df['Country'].unique().tolist()}")

# Missing: Korea, Rep., Turkey, United States
# In gdp data: Dem. People's Republic of Korea, Türkiye, United States of America

OECD Countries: ['Australia', 'Austria', 'Belgium', 'Canada', 'Chile', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Israel', 'Italy', 'Japan', 'Latvia', 'Lithuania', 'Luxembourg', 'Mexico', 'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Portugal', 'Republic of Korea', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'United Kingdom']

OECD Health Expenditure Data

In [102]:
# Sort by country and year
health_expend_df = health_expend_df.sort_values(by=['Country', 'Year'])

# Check OECD Country Names:
print(f"OECD Countries: {health_expend_df[health_expend_df['Country'].isin(oecd_countries)]['Country'].unique().tolist()}\n")
#print(f"All Countries: {health_expend_df['Country'].unique().tolist()}")

# Missing: Korea, Rep., Turkey, United States
# In health expenditure data: Korea, Türkiye, United States of America

OECD Countries: ['Australia', 'Austria', 'Belgium', 'Canada', 'Chile', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Israel', 'Italy', 'Japan', 'Latvia', 'Lithuania', 'Luxembourg', 'Mexico', 'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Portugal', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'United Kingdom']

World Bank Development Indicators Data

In [103]:
# Sort by country and year
world_bank_df = world_bank_df.sort_values(by=['country name', 'year'])

# Check world bank Country Names:
print(f"OECD Countries: {world_bank_df [world_bank_df['country name'].isin(oecd_countries)]['country name'].unique().tolist()}\n")
print(f"All Countries: {world_bank_df['country name'].unique().tolist()}")

# Missing: Czech Republic, Turkey
# In world bank data: Czechia, Turkiye

OECD Countries: ['Australia', 'Austria', 'Belgium', 'Canada', 'Chile', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Israel', 'Italy', 'Japan', 'Latvia', 'Lithuania', 'Luxembourg', 'Mexico', 'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Portugal', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'United Kingdom', 'United States']

All Countries: ['Australia', 'Austria', 'Belgium', 'Canada', 'Chile', 'Czechia', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Israel', 'Italy', 'Japan', 'Korea, Rep.', 'Latvia', 'Lithuania', 'Luxembourg', 'Mexico', 'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Portugal', 'Slovak Republic', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Turkiye', 'United Kingdom', 'United States']

GBP Data

In [104]:
# Sort by country and year
gbp_data_df = gbp_data_df.sort_values(by=['location', 'year'])

# Check OECD Country Names:
print(f"OECD Countries: {gbp_data_df[gbp_data_df['location'].isin(oecd_countries)]['location'].unique().tolist()}\n")
print(f"All Countries: {gbp_data_df['location'].unique().tolist()}")

# Missing: Czech Republic, United States
# In health expenditure data: Czechia, United States of America

OECD Countries: ['Australia', 'Austria', 'Belgium', 'Canada', 'Chile', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Israel', 'Italy', 'Japan', 'Latvia', 'Lithuania', 'Luxembourg', 'Mexico', 'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Portugal', 'Republic of Korea', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Turkey', 'United Kingdom']

All Countries: ['Australia', 'Austria', 'Belgium', 'Canada', 'Chile', 'Czechia', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Israel', 'Italy', 'Japan', 'Latvia', 'Lithuania', 'Luxembourg', 'Mexico', 'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Portugal', 'Republic of Korea', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Turkey', 'United Kingdom', 'United States of America']

In [118]:
# Normalize Countries and Column Names for Merging

# List of countries to rename
rename_mapping = {
    'Czechia': 'Czech Republic',
    "Dem. People's Republic of Korea": 'Republic of Korea',
    "Korea, Rep.": 'Republic of Korea',
    "Korea": 'Republic of Korea',
    "Slovak Republic": 'Slovakia',
    'Türkiye': 'Turkey',
    'Turkiye': 'Turkey',
    'United States of America': 'United States'
}

In [119]:
# Replace country names in the country column
life_expectancy_countries_df['Country'] = life_expectancy_countries_df['Country'].replace(rename_mapping)
gdp_file_df['Country'] = gdp_file_df['Country'].replace(rename_mapping)
health_expend_df['Country'] = health_expend_df['Country'].replace(rename_mapping)
world_bank_df['country name'] = world_bank_df['country name'].replace(rename_mapping)
gbp_data_df['location'] = gbp_data_df['location'].replace(rename_mapping)

print(f"{life_expectancy_countries_df[life_expectancy_countries_df['Country'].isin(oecd_countries)]['Country'].unique().tolist()}\n")
print(f"{gdp_file_df[gdp_file_df['Country'].isin(oecd_countries)]['Country'].unique().tolist()}\n")
print(f"{health_expend_df[health_expend_df['Country'].isin(oecd_countries)]['Country'].unique().tolist()}\n")
print(f"{world_bank_df [world_bank_df['country name'].isin(oecd_countries)]['country name'].unique().tolist()}\n")
print(f"{gbp_data_df[gbp_data_df['location'].isin(oecd_countries)]['location'].unique().tolist()}")

['Australia', 'Austria', 'Belgium', 'Canada', 'Chile', 'Czech Republic', 'Republic of Korea', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Israel', 'Italy', 'Japan', 'Latvia', 'Lithuania', 'Luxembourg', 'Mexico', 'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Portugal', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Turkey', 'United Kingdom', 'United States']

['Australia', 'Austria', 'Belgium', 'Canada', 'Chile', 'Czech Republic', 'Republic of Korea', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Israel', 'Italy', 'Japan', 'Latvia', 'Lithuania', 'Luxembourg', 'Mexico', 'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Portugal', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Turkey', 'United Kingdom', 'United States']

['Australia', 'Austria', 'Belgium', 'Canada', 'Chile', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Israel', 'Italy', 'Japan', 'Republic of Korea', 'Latvia', 'Lithuania', 'Luxembourg', 'Mexico', 'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Portugal', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Turkey', 'United Kingdom', 'United States']

['Australia', 'Austria', 'Belgium', 'Canada', 'Chile', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Israel', 'Italy', 'Japan', 'Republic of Korea', 'Latvia', 'Lithuania', 'Luxembourg', 'Mexico', 'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Portugal', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Turkey', 'United Kingdom', 'United States']

['Australia', 'Austria', 'Belgium', 'Canada', 'Chile', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Israel', 'Italy', 'Japan', 'Latvia', 'Lithuania', 'Luxembourg', 'Mexico', 'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Portugal', 'Republic of Korea', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Turkey', 'United Kingdom', 'United States']

In [127]:
# Rename useful columns before merging

world_bank_df = world_bank_df.rename(columns={"country name":"Country", "year":"Year"})
gbp_data_df = gbp_data_df.rename(columns={"location":"Country", "year":"Year"})

Merge files

In [123]:
# Merging Life Expentancy and GDP file on Country and Year
combined_le_gdp = pd.merge(life_expectancy_countries_df, gdp_file_df, on=["Country","Year"] , how="left") 
combined_le_gdp.head()

,Country,Year,Life Expectancy,Population,Type,"Male Population, as of 1 July (thousands)","Female Population, as of 1 July (thousands)",Male Life Expectancy at Birth (years),Female Life Expectancy at Birth (years),countrycode,Region,GDP per Capita,pop
0,Afghanistan,1950.0,27.7,7480,Country/Area,3962.0,3518.0,27.1,28.4,AFG,South and South East Asia,1156.0,8150.0
1,Afghanistan,1951.0,28.0,7572,Country/Area,4002.0,3570.0,27.4,28.6,AFG,South and South East Asia,1170.0,8284.0
2,Afghanistan,1952.0,28.4,7668,Country/Area,4043.0,3624.0,27.8,29.1,AFG,South and South East Asia,1189.0,8425.0
3,Afghanistan,1953.0,28.9,7765,Country/Area,4086.0,3679.0,28.3,29.6,AFG,South and South East Asia,1240.0,8573.0
4,Afghanistan,1954.0,29.2,7864,Country/Area,4129.0,3735.0,28.6,29.9,AFG,South and South East Asia,1245.0,8728.0

In [124]:
# Merging Life Expentancy,GDP file with Health Expenditure file on Country and Year
combined_le_gdp_he = pd.merge(combined_le_gdp, health_expend_df, on=["Country","Year"] , how="left") 
combined_le_gdp_he.head()

,Country,Year,Life Expectancy,Population,Type,"Male Population, as of 1 July (thousands)","Female Population, as of 1 July (thousands)",Male Life Expectancy at Birth (years),Female Life Expectancy at Birth (years),countrycode,Region,GDP per Capita,pop,Measure,Unit of Measure,Health Expenditure
0,Afghanistan,1950.0,27.7,7480,Country/Area,3962.0,3518.0,27.1,28.4,AFG,South and South East Asia,1156.0,8150.0,NaN,NaN,NaN
1,Afghanistan,1951.0,28.0,7572,Country/Area,4002.0,3570.0,27.4,28.6,AFG,South and South East Asia,1170.0,8284.0,NaN,NaN,NaN
2,Afghanistan,1952.0,28.4,7668,Country/Area,4043.0,3624.0,27.8,29.1,AFG,South and South East Asia,1189.0,8425.0,NaN,NaN,NaN
3,Afghanistan,1953.0,28.9,7765,Country/Area,4086.0,3679.0,28.3,29.6,AFG,South and South East Asia,1240.0,8573.0,NaN,NaN,NaN
4,Afghanistan,1954.0,29.2,7864,Country/Area,4129.0,3735.0,28.6,29.9,AFG,South and South East Asia,1245.0,8728.0,NaN,NaN,NaN

In [126]:
# Merging Life Expentancy,GDP,Health Expenditure file with world_bank_df on Country and Year
combined_le_gdp_he_wb = pd.merge(combined_le_gdp_he, world_bank_df, on=["Country","Year"] , how="left") 
combined_le_gdp_he_wb.head()

,Country,Year,Life Expectancy,Population,Type,"Male Population, as of 1 July (thousands)","Female Population, as of 1 July (thousands)",Male Life Expectancy at Birth (years),Female Life Expectancy at Birth (years),countrycode,...,domestic credit to private sector (% of gdp),gdp (constant 2015 us$),labor force with advanced education (% of total working-age population with advanced education),labor force with intermediate education (% of total working-age population with intermediate education),labor force with basic education (% of total working-age population with basic education),market capitalization of listed domestic companies (% of gdp),military expenditure (% of gdp),out-of-pocket expenditure (% of current health expenditure),research and development expenditure (% of gdp),"stocks traded, total value (% of gdp)"
0,Afghanistan,1950.0,27.7,7480,Country/Area,3962.0,3518.0,27.1,28.4,AFG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1951.0,28.0,7572,Country/Area,4002.0,3570.0,27.4,28.6,AFG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1952.0,28.4,7668,Country/Area,4043.0,3624.0,27.8,29.1,AFG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1953.0,28.9,7765,Country/Area,4086.0,3679.0,28.3,29.6,AFG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1954.0,29.2,7864,Country/Area,4129.0,3735.0,28.6,29.9,AFG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [130]:
# Merging Life Expentancy,GDP,Health Expenditure, world_bank_df file with gbp_data_df on Country and Year to get the FINAL FILE
final_df = pd.merge(combined_le_gdp_he_wb, gbp_data_df, on=["Country","Year"] , how="left") 
final_df.head()

,Country,Year,Life Expectancy,Population,Type,"Male Population, as of 1 July (thousands)","Female Population, as of 1 July (thousands)",Male Life Expectancy at Birth (years),Female Life Expectancy at Birth (years),countrycode,...,Alcohol use disorders,Cardiovascular diseases,Diabetes mellitus,Liver cancer due to alcohol use,Motor vehicle road injuries,Opioid use disorders,Police conflict and executions,Road injuries,Self-harm,"Tracheal, bronchus, and lung cancer"
0,Afghanistan,1950.0,27.7,7480,Country/Area,3962.0,3518.0,27.1,28.4,AFG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1951.0,28.0,7572,Country/Area,4002.0,3570.0,27.4,28.6,AFG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1952.0,28.4,7668,Country/Area,4043.0,3624.0,27.8,29.1,AFG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1953.0,28.9,7765,Country/Area,4086.0,3679.0,28.3,29.6,AFG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1954.0,29.2,7864,Country/Area,4129.0,3735.0,28.6,29.9,AFG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [133]:
# Specify the file path where you want to save the CSV file
csv_file_path = 'output/csv/master_dataset.csv'

# Write final_df to CSV
final_df.to_csv(csv_file_path, index=False)

print(f"DataFrame successfully written to {csv_file_path}")

DataFrame successfully written to output/csv/master_dataset.csv

In [136]:
# Keep just the countries
final_countries_df = final_df[final_df['Country'].isin(oecd_countries)]
final_countries_df

,Country,Year,Life Expectancy,Population,Type,"Male Population, as of 1 July (thousands)","Female Population, as of 1 July (thousands)",Male Life Expectancy at Birth (years),Female Life Expectancy at Birth (years),countrycode,...,Alcohol use disorders,Cardiovascular diseases,Diabetes mellitus,Liver cancer due to alcohol use,Motor vehicle road injuries,Opioid use disorders,Police conflict and executions,Road injuries,Self-harm,"Tracheal, bronchus, and lung cancer"
792,Australia,1950.0,69.0,8177,Country/Area,4120.0,4057.0,66.5,71.7,AUS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
793,Australia,1951.0,68.7,8420,Country/Area,4253.0,4167.0,66.1,71.6,AUS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
794,Australia,1952.0,69.1,8633,Country/Area,4367.0,4266.0,66.5,72.0,AUS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
795,Australia,1953.0,69.7,8819,Country/Area,4463.0,4356.0,67.1,72.6,AUS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
796,Australia,1954.0,69.9,9003,Country/Area,4555.0,4448.0,67.2,72.8,AUS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16411,United States,2017.0,78.8,329791,Country/Area,163282.0,166509.0,76.3,81.4,USA,...,16447.213615,870014.594907,68023.019190,6521.645578,29072.563739,45323.057374,1182.453872,43311.226390,51264.771154,172205.186019
16412,United States,2018.0,79.0,332140,Country/Area,164538.0,167602.0,76.5,81.5,USA,...,16881.662205,874704.259786,69243.158362,6842.077243,28301.510359,47371.011599,1166.479287,42451.281976,51762.833329,168804.579530
16413,United States,2019.0,79.1,334320,Country/Area,165699.0,168621.0,76.6,81.7,USA,...,17468.451200,880826.245325,71201.256403,7109.802427,27881.005935,50031.617474,1174.843121,41975.079605,51357.018236,167925.872553
16414,United States,2020.0,77.4,335942,Country/Area,166504.0,169438.0,74.6,80.3,USA,...,17342.695548,887324.919965,72130.507793,7371.063919,27682.805304,52561.060543,1118.220151,41612.775573,50982.047075,170317.701686
16415,United States,2021.0,77.2,336998,Country/Area,166942.0,170056.0,74.3,80.2,USA,...,17300.933653,905653.064300,74017.278108,7405.873087,27577.240531,55451.968230,1089.792998,41371.804169,50715.835465,175479.668947

In [138]:
# Specify the file path where you want to save the CSV file
csv_file_path = 'output/csv/master_dataset_oecd_countries.csv'

# Write final_df to CSV
final_countries_df.to_csv(csv_file_path, index=False)

print(f"DataFrame successfully written to {csv_file_path}")

DataFrame successfully written to output/csv/master_dataset_oecd_countries.csv